<!DOCTYPE html>
<html>
 <head>
  <title>Still Single | Mingle Here</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Material+Icons|Slabo:400' rel='stylesheet' type='text/css'>
 </head>
 <body>
  <div id="app">
   <div id="full">
    <header id="home-header">
     <div>
      <a href="/" class="nav-logo">
         <h2><img src="images/ss_logo.png" height="100px;" width="100px;"></h2>
      </a>
      <!-- <form id="header-login">
         <div><input type="text" placeholder="email address" name="email" value=""><input type="password" placeholder="password" name="password" value=""><button type="submit" style="color: rgb(255, 255, 255); min-width: 117px; text-align: center; background: rgb(43, 100, 151);"><span>Log In!</span></button></div>
         <div id="under-input"><label><input type="checkbox" name="remember" value="true"><span class="label-body"><span>Remember me</span></span></label><a href=""><span>Forgot your password?</span></a></div>
      </form> -->
     </div>
    </header>
    <div id="section1" class="section">
   <div>
    <div id="section1-content" data-radium="true"><h3><span>Looking for a partner or Love of your life. Find the Next generation partner here 24x7 !</span></h3><h5 class="twelve columns"><span>Get started today. Signing up is free and easy.</span></h5><a class="button button-primary"><span>Get Started</span></a>
         </div>
   </div>
    </div>
    <div id="section2" class="section">
   <div data-radium="true">
      <h3><span>Your personal relationship at your fingertips.</span></h3>
      <h3><span>Anytime. Anywhere.</span></h3>
      <p><span>Still Single is an Online marketplace for finding your love/life partner. You can register and create your profile for FREE! . Unlike other matrimony / dating sites which works on subscription based model where you need to pay to get the details or contact the person or you see lot of irritating ads. Here both parties once mutually shortlist or like their profile can share details, chat and interact for free.</span></p>
      <p><span>Inorder to interect and share details you need to invite your friends who are single and looking for their life partner, you have an opportunity of unlocking 3 profiles if they register from you referral code on Still Single platform. We are extremly concerned about your privacy so this sharing will be completely anonymous if you want to protect your identity.</span></p>
   </div>
    </div>
    <div id="section3" class="section">
   <div data-radium="true">
      <h3><span>Web or Mobile</span></h3>
      <p><span>We are currently in Web version 1.0 since we have just launched with few users on our platform. We are working on the mobile version of it and we notify once we launch it on Mobile.</span></p>
      <!-- <div class="mobile-app-block" data-radium="true">
         <div class="badge"><a target="_blank" href="#" class="mobile-badge apple">&nbsp;</a></div>
         <div class="badge"><a target="_blank" href="#" class="mobile-badge google">&nbsp;</a></div>
         <div class="badge"><a target="_blank" href="#" class="mobile-badge amazon">&nbsp;</a></div>
      </div> -->
   </div>
    </div>
    <footer>
     <div class="wrapper">
   <div style="width: 100%; height: 30px;"></div>
   <nav>
      <ul class="about">
         <li><a href="/help"><span>Help</span></a></li>
         <li><a href="/about"><span>About</span></a></li>
      </ul>
      <ul>
         <li><a href="#"><span>Contact Us</span></a></li>
         <li><a href="/privacy"><span>Privacy Policy</span></a></li>
         <li><a href="/terms"><span>Terms and Conditions</span></a></li>
      </ul>
      <div id="social"><a class="glycon facebook" href="#" title="Follow Still Single on Facebook!" target="facebook">&nbsp;</a><a class="glycon twitter" href="#" title="Follow @StillSingle on Twitter!" target="twitter">&nbsp;</a><a class="glycon pinterest" href="#" title="Keep up with everything SS on Pinterest." target="pinterest">&nbsp;</a><a class="glycon youtube" href="#" title="Follow Still Single on YouTube!" target="youtube">&nbsp;</a></div>
   </nav>
     </div>
    </footer>
   </div>
  </div>
  <script src="/js/ga.js"></script>
 </body>
</html>