<!DOCTYPE html>
<html>
   <head>
      <title>Node JS Starter</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>
   <body>
      <h1>Node JS Starter</h1>
      <p>Welcome to NodeJS module</p>
      <p>This is a Nodejs API based on ExpressJS Framework. It helps you build an MVC Architectured app. Currently, by default it supports:
      <ul>
         <li>ExpressJS</li>
         <li>MongoDB</li>
         <li>MySQL</li>
         <li>Redis</li>
         <li>EJS - Templating engine</li>
      </ul>
      </p>
   </body>
</html>