<!DOCTYPE html>
<html>
 <head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Material+Icons|Slabo:400' rel='stylesheet' type='text/css'>
 </head>
 <body>
  <div id="app">
   <div id="full">
    <header id="home-header">
     <div>
      <a href="/" class="nav-logo">
         <h2>Still Single</h2>
      </a>
      <form id="header-login" data-radium="true" inspfaactive="true">
         <div><input type="text" placeholder="email address" name="email" value=""><input type="password" placeholder="password" name="password" value=""><button type="submit" data-radium="true" style="color: rgb(255, 255, 255); min-width: 117px; text-align: center; background: rgb(43, 100, 151);"><span>Log In!</span></button></div>
         <div id="under-input"><label><input type="checkbox" name="remember" value="true"><span class="label-body"><span>Remember me</span></span></label><a href=""><span>Forgot your password?</span></a></div>
      </form>
     </div>
    </header>
    <div id="section1" class="section">
   <div>
    <div id="section1-content" data-radium="true"><h3><span>Looking for a partner or Love of your life. Find the Next generation partner here 24x7 !</span></h3><h5 class="twelve columns"><span>Get started today. Signing up is free and easy.</span></h5><a class="button button-primary"><span>Get Started</span></a>
         </div>
   </div>
    </div>
    <div id="section2" class="section">
   <div data-radium="true">
      <h3><span>Your personal relationship at your fingertips.</span></h3>
      <h3><span>Anytime. Anywhere.</span></h3>
      <p><span>hoopla is a groundbreaking digital media service offered by your local public library that allows you to borrow movies, music, audiobooks, ebooks, comics and TV shows to enjoy on your computer, tablet, or phone – and even your TV! With no waiting, titles can be streamed immediately, or downloaded to phones or tablets for offline enjoyment later. We have hundreds of thousands of titles to choose from, with more being added daily. hoopla is like having your public library at your fingertips. Anytime. Anywhere.</span></p>
      <!--<div class="image-grid quad home-titles" data-radium="true"><a class="browse-titles-button" href="browse"><span class="button button-primary"><span>Browse titles</span></span></a><img src="/images/title-art/stz_augustosagem_270.jpeg"><img src="/images/title-art/3-doors-down.jpeg"><img src="/images/title-art/saga.jpeg"><img src="/images/title-art/detectives-daughter.jpeg"></div>-->
   </div>
    </div>
    <div id="section3" class="section">
   <div data-radium="true">
      <h3><span>Web or Mobile</span></h3>
      <p><span>You can stream titles instantly through your desktop browser or our mobile app. If you use our mobile app, you can also download titles to your device for offline playback later, where Wi-Fi may be unavailable. Titles are automatically returned and removed from your device at the end of the lending period.</span></p>
      <div class="mobile-app-block" data-radium="true">
         <div class="badge"><a target="_blank" href="https://itunes.apple.com/us/app/hoopla-digital/id580643740?mt=8&amp;uo=4" class="mobile-badge apple">&nbsp;</a></div>
         <div class="badge"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.hoopladigital.android" class="mobile-badge google">&nbsp;</a></div>
         <div class="badge"><a target="_blank" href="https://www.amazon.com/Hoopla-Digital/dp/B00JMRGQHI/ref=sr_1_1?ie=UTF8&amp;qid=1413582359&amp;sr=8-1&amp;keywords=hoopla+digital" class="mobile-badge amazon">&nbsp;</a></div>
      </div>
   </div>
    </div>
    <footer>
     <div class="wrapper">
   <div style="width: 100%; height: 30px;"></div>
   <nav>
      <ul class="about">
         <li><a href="/help"><span>Help</span></a></li>
         <li><a href="about.html"><span>About</span></a></li>
      </ul>
      <ul>
         <li><a href="#"><span>Contact Us</span></a></li>
         <li><a href="/privacy"><span>Privacy Policy</span></a></li>
         <li><a href="/terms"><span>Terms and Conditions</span></a></li>
      </ul>
      <div id="social"><a class="glycon facebook" href="#" title="Follow Still Single on Facebook!" target="facebook">&nbsp;</a><a class="glycon twitter" href="#" title="Follow @StillSingle on Twitter!" target="twitter">&nbsp;</a><a class="glycon pinterest" href="#" title="Keep up with everything SS on Pinterest." target="pinterest">&nbsp;</a><a class="glycon youtube" href="#" title="Follow Still Single on YouTube!" target="youtube">&nbsp;</a></div>
   </nav>
     </div>
    </footer>
   </div>
  </div>
  <script src="/js/ga.js"></script>
 </body>
</html>