<html>
 <head>
  <title>Still Single | Mingle Here</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Material+Icons|Slabo:400' rel='stylesheet' type='text/css'>
 </head>
 <body>
  <div id="app">
   <div>
    <div style="position: fixed; width: 100%; height: 100%; top: 0px; z-index: -10; transition: background 0.5s ease; background: rgba(0, 0, 0, 0);">
    </div>
    <div>

    </div>
    <div data-radium="true" style="height: 100%; box-sizing: border-box;">
     <header>
       <div class="wrapper nav u-cf">
	   <div class="large-banner">
	      <div class="col12" style="position: relative;">
		 <a class="nav-logo" href="/">
		    <h2>Still Single</h2>
		 </a>
		 <!-- <ul class="nav-items">
		    <li class="dropdown tap-hover">
		       <a class="main-link" href="#"><span>Explore</span></a>
		       <ul>
		          <li><a href="#">Shortlisted</a></li>
		          <li><a href="#">New Matches</a></li>
		          <li><a href="#">Pending</a></li>
		          <li><a href="#">Top Searched</a></li>
		          <li><a href="#">Chats</a></li>
		          <li><a href="#">television</a></li>
		       </ul>
		    </li>
		    <li class="dropdown tap-hover"><a class="main-link click" href="/search"><span>Search</span></a></li>
		 </ul> -->
		 <ul class="login-container">
		    <li><a class="button"><span>log in</span></a><a class="button button-primary"><span>sign up</span></a></li>
		 </ul>
	      </div>
	   </div>
	   <div class="small-banner">
	      <div class="col12">
		 <ul class="nav-items">
		    <li class="dropdown tap-hover">
		       <h4><a class="main-link click" href="" style="padding: 5px 10px 15px 0px;">☰</a></h4>
		    </li>
		 </ul>
		 <a class="nav-logo" href="/">
		    <h2>Still Single</h2>
		 </a>
	      </div>
	   </div>
	</div>
     </header>
     <div class="wrapper body">
      <div data-radium="true" style="margin-top: 25px;">
	   <div data-radium="true">
	      <p data-radium="true" style="margin-bottom: 10px;"><span data-radium="true" style="text-transform: uppercase;"><span>Coming Soon</span></span></p>
	   </div>  
	  </div>  
     </div>
     <footer>
     <div class="wrapper">
	<div style="width: 100%; height: 30px;"></div>
	<nav>
	   <ul class="about">
	      <li><a href="/help"><span>Help</span></a></li>
	      <li><a href="/about"><span>About</span></a></li>
	   </ul>
	   <ul>
	      <li><a href="#"><span>Contact Us</span></a></li>
	      <li><a href="/privacy"><span>Privacy Policy</span></a></li>
	      <li><a href="/terms"><span>Terms and Conditions</span></a></li>
	   </ul>
	   <div id="social"><a class="glycon facebook" href="#" title="Follow Still Single on Facebook!" target="facebook">&nbsp;</a><a class="glycon twitter" href="#" title="Follow @StillSingle on Twitter!" target="twitter">&nbsp;</a><a class="glycon pinterest" href="#" title="Keep up with everything SS on Pinterest." target="pinterest">&nbsp;</a><a class="glycon youtube" href="#" title="Follow Still Single on YouTube!" target="youtube">&nbsp;</a></div>
	</nav>
     </div>
    </footer>
    </div>
   </div>
  </div>
  <script src="/js/ga.js"></script>
 </body>
</html>